git:
  user:
    name:  '' # your git user name
    email: '' # your git email address
  repositories:
    - repo_url:  '' # git repository to clone from
      clone_dir: '' # path for parent directory for clone into. (relative path from home directory)
      dir_name:  '' # directory name for clone into
